
/* the body */

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    animation-duration: 2s;
    
}


/* header 2 */

.box h2 {
    margin: 0 0 30px;
    padding: 0%;
    /* color: bisque; */
    color: black;
    text-align: center;
}


/* input box */

.box .inputBox {
    position: relative;
}


/* input  */

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    /* color: #fff; */
    color: #000;
    margin-bottom: 30px;
    border: none;
    outline: none;
    letter-spacing: 2px;
    background: transparent;
    /* border-bottom: 1px solid #fff; */
    border-bottom: 1px solid black;
    text-align: center;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: .5s;
    padding: 2px ;
}

.box .inputBox input:focus~label,
.box .inputBox input:valid~label {
    top: -16px;
    left: 0;
    color: #2ecc71;
    font-size: 12px;
}

.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    background: #6BE476;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
}

.box input[type="submit"]:hover~input {
    left: 120%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border-radius: 20px;
    border: none;
  }
  .cancelbtn:hover a{
      background: none;
  }
  /* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  .container-log {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
.modal-login {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 20%;
    top: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-login-content {
    background-color: #fff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #2ecc71;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .btn-animate:hover{
      -webkit-animation: btn-anim 1s;
      -moz-animation: btn-anim 1s;
      animation: btn-anim 1s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      transition-duration: 1s;
      animation-direction: alternate;
      
  }
  
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    
  }
  @keyframes btn-anim {
      
      from{-webkit-transform: scale(1)}  
       to{ -webkit-transform: scale(0.8)}
     
      
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Responsivity for tablets and medium sized phones */
  
  @media screen and (max-width: 600px) {
      .box{
          width: 90%;
      }
    .modal-login{
      width:100%;
      left:0px;
    }
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }