{% extends "DevsPlatform/base.html" %}

{% block content %}
<div>
    <form method="post" action="{% url 'DevsPlatform:minify-file' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <caption>Minify javascript code</caption>
            {{ upload_minify_form }}
            <tr>
                <th></th>
                <th><button type="submit">Minify</button></th>
            </tr>
        </table>
    </form>
    
    {% if filename %}
        <a href="{% url 'DevsPlatform:download-minified' filename %}">Dolnload the minified file as: {{ filename }}</a>
    {% endif %}
        
</div>
{% endblock content %}