/* --- section container --- */
.how-we-do-it{
    background-color: linear-gradient(to left, rgba(197, 251, 212, 1), rgba(197, 251, 212, 0));
    margin: 10px;
}

/* --- image section --- */
.h-w-it-child{
    background: url(../images/hwt.jpg) center no-repeat ;  
    height: 450px;
    box-sizing: border-box;
    width: 40%;
    margin-left: 5%;
    
}

.how-we-do-it section{
    float: left;
    border-radius: 100% 0 0 100%;
    font-size: 1.5reh3m;
    padding-left: 15%;
    padding-top: 3%;
}

/* --- aside --- */
.how-we-do-it aside {

    padding-top: 3%;
    height: 450px;
    width: 45%;
    text-align: center;
    margin-right: 10%;
    
}
.hwt-aside h3{
    border-radius: 20px;
    margin-top: 5%;
    font-weight: 200;
    font-size: 1.5rem;
    width: 60%;
    margin-left: 20%;
}
.hwt-aside h3:hover{
    font-weight: 400;
}
.hwt-aside p{
    font-size: 1.3rem;

}
.h-w-it-child p{
    float: left;
    font-size: 1.5rem;
    font-weight: 700;
}

/* --- explore btn --- */
.open-hwt{
    background-color: #75C96B;
    transition-property: background, padding;
    transition-duration: 1ms;
    transition-timing-function: linear;
    border-radius: 50%;
    margin-left: 50px;
    color: black;
    padding-top: 38px;
    padding-bottom: 38px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);  
}
.open-hwt:hover{
    background-color:#586AC9;
}
/* --- explore transition --- */

/* Responsivity */
@media screen and (max-width: 600px){
    .how-we-do-it{
        margin: auto;
    }
    .how-we-do-it section{
        clear: both;
        height: 300px;
        margin: auto;
    }
    .how-we-do-it aside{
        clear: both;
        width: 100%;
        margin: auto;
    }
    .h-w-it-child{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .h-w-it-child p{
        margin: auto;
        padding: auto;
    }
    .open-hwt{
        float: right;
        margin: auto;
        padding: 20px;

    }
    .open-hwt:hover{
        height: 90px;
        margin: auto;
        width: 100px;
    }
}