/* This css file styles the showcase */

.showcase {
    border-radius: 0 85% 0 0;
    position: absolute;
    text-align: center;
    padding-top: 80px;
    color: black;
    height: 380px;
    top: 100px;
    right: 15%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 75%;

    letter-spacing: .5px;
    line-height: 44px;
    z-index: 1;
    overflow: hidden;
    /* ensure content does not fall on each other on small screen */
}

.showcase h1 {
    font-size: 35px;
    transition: linear;
    animation: animate 1s;
}
.showcase h6{
    animation: animate 2s;
}
.showcase p{
    animation: animate 3s;
}

/* animate welcome to bit badgers */

@keyframes animate {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

.showcase h6 {
    font-size: 35px;
    font-family: monospace;
}


.welcome {
    color: powderblue;
    font-size: 30px;
}
@media screen and (max-width:600px) {
    .showcase{
        border: none;
        border-radius: 5%;
    }
    .showcase h1 {
        animation: animate 0.6s;
    }

    .showcase p,
    .showcase h6 {
        display: none;
    }
}